<Configuration><Appenders><Console name="console"><PatternLayout pattern="%d{ISO8601} %-5p [%t] %c - %m%n"/></Console><RollingFile name="events" fileName="${sys:mule.home}/logs/${sys:domainId}-shopping-experience-api.jsonl" filePattern="${sys:mule.home}/logs/shopping-experience-api-%i.jsonl"><PatternLayout pattern="%m%n"/><Policies><SizeBasedTriggeringPolicy size="20 MB"/></Policies><DefaultRolloverStrategy max="3"/></RollingFile></Appenders><Loggers><AsyncLogger name="demo.events" level="INFO" additivity="true"><AppenderRef ref="events"/></AsyncLogger><AsyncRoot level="INFO"><AppenderRef ref="console"/></AsyncRoot></Loggers></Configuration>